<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 	<h1><%= "Team Name: #{@le_hash[:name]}" %></h1> 
 	<h2><%= "Coach: #{@le_hash[:coach]}" %></h2>
 	<h2><%= "Point Guard: #{@le_hash[:pg]}" %></h2>
 	<h2><%= "Shooting Guard: #{@le_hash[:sg]}" %></h2>
 	<h2><%= "Power Forward: #{@le_hash[:pf]}" %></h2>
 	<h2><%= "Small Forward: #{@le_hash[:sf]}" %></h2>
 	<h2><%= "Center: #{@le_hash[:c]}" %></h2>
 </body>
</html>


