<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Team Name: <%=@name = params[:name]%></h2>
   <h2>Coach: <%=@coach = params[:coach]%></h2>
   <h2>Point Guard: <%=@pg = params[:pg]%></h2>
   <h2>Shooting Guard: <%=@sg = params[:sg]%></h2>
   <h2>Small Forward: <%=@pf = params[:sf]%></h2>
   <h2>Power Forward: <%=@sf = params[:pf]%></h2>
   <h2>Center: <%=@c = params[:c]%></h2>


 </body>
</html>
